@model Blog_System.CoreLayer.DTOs.Posts.PostFilterDto
@{
    ViewData["title"] = "Posts";
    var counter = 1;
    Layout = "_postLayout";
}
<link rel="icon" href="/img/logo/fabicon2.png">
<link rel="stylesheet" href="/css/plugins/bootstrap-rtl.css">
<link rel="stylesheet" href="/css/plugins/animate.min.css">
<link rel="stylesheet" href="/css/plugins/fontawesome.css">
<link rel="stylesheet" href="/css/plugins/modal-video.min.css">
<link rel="stylesheet" href="/css/plugins/owl.carousel.css">
<link rel="stylesheet" href="/css/plugins/slicknav.css">
<link rel="stylesheet" href="/css/plugins/loader.css">
<link rel="stylesheet" href="/css/plugins/splitting.css">
<link rel="stylesheet" href="/css/master.css">
<link rel="stylesheet" href="style.css">

<section class="content-header">
    <h1>@ViewData["title"]</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>

<section class="content">
        <form class="form-group">
            <input type="text" value="@Model.FilterParams.Title" class="form-control" placeholder="Title" name="title"/>
        <input type="text" value="@Model.FilterParams.CategorySlug" class="form-control" placeholder="Category Slug" name="categorySlug" />
            <button type="submit">Filter</button>
        </form>
    <a class="btn btn-primary mb-4" asp-area="Admin" asp-controller="Post" asp-action="Add">Add Post</a>
    <div class="box box-body">
        <div class="box box-primary">
            <table class="table table-bordered table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>
                            Image
                        </th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Group</th>
                        <th>Opreation</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Posts)
                    {
                        <tr>
                      
                            <td>@counter</td>
                            <th>
                                <img width="200" height="200" src="/images/posts/@item.ImageName"/>
                            </th>
                            <td>@item.Title</td>
                            <td>@item.Slug</td>
                            <td>
                                @item.CategoryId
                            </td>
                            <td>
                                <a href="/Admin/Post/Edit/@item.PostId" class="btn btn-info btn-sm mx-2">Edit</a>
                            </td>
                        </tr>
                        counter++;
                        }
                        
 
                </tbody>
            </table>
         @if(Model.PageCount>1){
                <div class="cpagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if(Model.FilterParams.PageId>1){
                                <li class="page-item"><a onclick="changePage(@Model.FilterParams.PageId - 1)" class="page-link" aria-label="Previous"><span aria-hidden="true"><i class="far fa-angle-left"></i></span></a></li>
                        }
                        else
                        {
                                <li class="page-item"><a class="page-link disabled" href="#" aria-label="Previous"><span aria-hidden="true"><i class="far fa-angle-left "></i></span></a></li>

                        }
                        @for(var i =1; i<=Model.PageCount;i++){

                                <li class="page-item"><a onclick="changePage(@i)" class="page-link @(i==Model.FilterParams.PageId?"active":null)">@i</a></li>
                        }
                            @if (Model.PageCount > Model.FilterParams.PageId)
                            {
                                <li class="page-item"><a onclick="changePage(@Model.FilterParams.PageId + 1)" class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="far fa-angle-right"></i></span></a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link disabled" aria-label="Next"><span aria-hidden="true"><i class="far fa-angle-right"></i></span></a></li>

                        }
                    </ul>
                </nav>
            </div>
         }
    </div>
</section>
<script>
        function changePage(pageId){
        var url= new URL(window.location.href);
        var searchParams=url.searchParams;
        searchParams.set('pageId',pageId);
        url.search = searchParams.toString();
        var newUrl = url.toString();
        window.location.replace(newUrl);
    }
</script>
<style>
    .form-group {
        margin-bottom: 1.5rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }


    .form-control {
        border-radius: 10px;
        border: 1px solid rgba(144, 238, 144, 0.6);
        padding: 12px;
        background-color: rgba(144, 238, 144, 0.4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, border 0.3s, box-shadow 0.3s ease;
        position: relative;
        width: calc(50% - 1%); 
        text-align: center;
        box-sizing: border-box;
        padding
    }

        .form-control::before {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border: 2px solid rgba(144, 238, 144, 0.7);
            border-radius: 10px;
            transition: all 0.3s ease;
        }


        .form-control:focus {
            border-color: rgba(34, 193, 195, 0.8);
            box-shadow: 0 0 0 0.2rem rgba(34, 193, 195, 0.3);
        }

    .btn-warning {
        background-color: rgba(34, 193, 195, 0.9);
        border-color: rgba(34, 193, 195, 0.9);
        border-radius: 10px;
        padding: 14px 24px;
        font-size: 18px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    btn-warning:hover {
        background-color: #28a745;
        border-color: #28a745;
    }

    box-primary {
        padding: 25px;
        border-radius: 15px;
        background-color: rgba(144, 238, 144, 0.2);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        position: relative;
    }


    .table {
        margin: 20px 0;
        font-size: 14px;
        background-color: #f9f9f9;
        border-radius: 10px;
        overflow: hidden;
    }

    .thead-dark {
        background-color: #343a40;
        color: #fff;
    }

    .text-center {
        text-align: center;
    }

    . navigation{
        margin-left:auto;
        margin-right:auto;
    }
</style>
