@page "{slug}"
@using Blog_System.CoreLayer.Utilities
@model Blog_System.WEB.Pages.postModel
@{
    ViewData["Title"] = Model.Post.Title;
    Layout = "_SinglePostLayout";
}


<!DOCTYPE html>
<html lang="fa" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>به اشتراک گذاشته شده در mellatweb.com - وبلاگ</title>
    <link rel="icon" href="/img/logo/fabicon2.png">
    <link rel="stylesheet" href="/css/plugins/bootstrap-rtl.css">
    <link rel="stylesheet" href="/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/css/plugins/fontawesome.css">
    <link rel="stylesheet" href="/css/plugins/modal-video.min.css">
    <link rel="stylesheet" href="/css/plugins/owl.carousel.css">
    <link rel="stylesheet" href="/css/plugins/slicknav.css">
    <link rel="stylesheet" href="/css/plugins/loader.css">
    <link rel="stylesheet" href="/css/plugins/splitting.css">
    <link rel="stylesheet" href="/css/master.css">
</head>
<body class="theme-3">
    <div class="mesh-loader">
        <div class="set-one">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="set-two">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    @await Html.PartialAsync("MainHeader")

    <div class="inner_hero_area primary_bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="inner_text" data-scroll>
                        <h2>@Model.Post.Title</h2>
                        <div class="post-meta">
                            <a href="#">@Model.Post.UserName</a>
                            <span class="separator">|</span>
                            <a href="#">@Model.Post.CreationDate.ToShortDateString()</a>
                            <span class="separator">|</span>
                            <a href="#" class="views"><i class="fas fa-eye"></i>@Model.Post.Visit Views</a>
                            <span class="separator">|</span>
                            <a href="#comments" class="comments"><i class="fas fa-comment"></i>@Model.Comments.Count Comments </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4" >
                    @await Html.PartialAsync("_PopularPosts", Model.PopularPosts)

                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="single_blog_page">
                        <div class="single_blog_page_img">
                            <img src="@Directories.GetPostImage(Model.Post.ImageName)" alt="@Model.Post.Title"></div>
                        @Html.Raw(Model.Post.Description)


                    </div>
                        <div class="col-sm-6 align-self-center">
                            <div class="share_social">
                                <ul>
                                    <li class="meta_title">به اشتراک بگذارید:</li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      <div class="comment-form">
                        <h3>ارسال دیدگاه</h3>
                     @if(User.Identity.IsAuthenticated)
                     {
                        <form method="post">
                            <input type="hidden" asp-for="postId" value="@Model.Post.PostId" />
                            <div class="form-group">
                                <label for="comment">دیدگاه</label>
                                <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Text"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">ارسال دیدگاه</button>
                        </form>
                     }
                     else{
                         <div class="alert alert-danger">
                            You should login for sharing comment! <a href="Auth/Login">Login</a>
                        </div>
                     }
                        <ul>
                   @foreach(var comment in Model.Comments){
                        <li class="border p-3 rounded shadow">
                            <strong>@comment.UserName</strong> - <span>@comment.CreationDate.ToLongDateString()</span>
                            <p>@comment.Text</p>
                        </li>
                   }
                    </ul>

                    <div class="space-80"></div>
                    <div class="row justify-content-center">
                        <div class="col-12"><div class="blog_heading"><h3>شما هم ممکن است دوست داشته باشید</h3></div></div>
                        @if(Model.RelatedPosts.Any())
                        {
                         @foreach(var post in Model.RelatedPosts)
                         {
                                var summary = post.Description.Length >70 ? post.Description.Substring(0, 70) + "..." : post.Description;

                                <div class="col-lg-6">
                                    <div class="single_blog">
                                        <div class="single_blog_img">
                                            <img src="/images/posts/@post.ImageName" alt=""><a href="#" class="meta_date">15 JUN</a>
                                        </div>
                                        <div class="single_blog_content">
                                            <h3><a href="single.html">@post.Title</a></h3>
                                            <p>@Html.Raw(summary)</p>
                                            <a asp-page="Post" asp-route-slug="@post.Slug" class="readmore_btn">ادامه مطلب<i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                         }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer footer1 section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="single_footer">
                            <div class="footer_logo"><a href="index1.html"><img src="assets/img/logo/footer_logo2.png" alt="logo"></a></div>
                            <p class="footer_pera">چه یک تور رانندگی باشد، یک سفر دریایی یا اتوبوس، تماشای برگ ها راهی عالی برای گذراندن تعطیلات پاییزی است. همچنین یک تجارت بزرگ تور است.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg">
                        <div class="single_footer">
                            <h3>درباره ما</h3>
                            <ul>
                                <li><a href="#">کمک شریک</a></li>
                                <li><a href="#">مشاغل</a></li>
                                <li><a href="#">مرکز مطبوعات</a></li>
                                <li><a href="#">روابط سرمایه گذار</a></li>
                                <li><a href="#">شرایط و ضوابط</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg">
                        <div class="single_footer">
                            <h3>محصول</h3>
                            <ul>
                                <li><a href="#">ویژگی ها</a></li>
                                <li><a href="#">قیمت گذاری</a></li>
                                <li><a href="#">برنامه ها</a></li>
                                <li><a href="#">API</a></li>
                                <li><a href="#">پشتیبانی کنید</a></li>
                                <li><a href="#">مشتریان</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg">
                        <div class="single_footer">
                            <h3>منابع</h3>
                            <ul>
                                <li><a href="#">مشتریان</a></li>
                                <li><a href="#">کاغذ سفید</a></li>
                                <li><a href="#">Dev API</a></li>
                                <li><a href="#">پوشش رسانه ای</a></li>
                                <li><a href="#">GDPR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-lg-6"><p> Copyright © 2020 ملت وب. تمامی حقوق محفوظ است.</p></div>
                    <div class="col-sm-4 col-lg-6">
                        <div class="footer_social">
                            <div class="social1">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/plugins/jquery.2.1.0.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.nav.js"></script>
    <script src="/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/js/plugins/jquery-modal-video.min.js"></script>
    <script src="/js/plugins/owl.carousel.js"></script>
    <script src="/js/plugins/popper.min.js"></script>
    <script src="/js/plugins/jquery.slicknav.js"></script>
    <script src="/js/plugins/wow.min.js"></script>
    <script src="/js/plugins/splitting.js"></script>
    <script src="/js/plugins/scroll-out.min.js"></script>
    <script src="/js/plugins/jquery.counterup.js"></script>
    <script src="/js/plugins/simpleParallax.js"></script>
    <script src="/js/main.js"></script>
    <script></script>
</body>
</html>